@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400&display=swap');
body {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    position: relative; /* Добавлено относительное позиционирование для контейнера header */
}

.home-button {
    position: absolute;
    left: 20px; /* Размещение кнопки слева с отступом */
    top: 50%; /* Размещение кнопки по вертикали по центру заголовка */
    transform: translateY(-50%); /* Коррекция для выравнивания по вертикали */
}

h1 {
    font-style: italic;
    margin: 0; /* Убираем внешний отступ от h1 */
    display: flex;
    justify-content: center; /* Центрируем текст внутри h1 */
    align-items: center; /* Центрируем текст внутри h1 */
}

.table-container {
    overflow-y: scroll;
    max-height: 40vh;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
#home_btn{
    height: 50px;
}