@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400&display=swap');

html,
body {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    position: relative;
}

.home-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-style: italic;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#home_btn {
    height: 50px;
}